/* Equal size pages styling */
/* html {
  height: 100% !important;
  width: 100% !important;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  height: 500% !important;
  width: 100% !important;
  margin: 0px;
  padding: 0px;
}

.page {
  height: 20% !important;
  width: 100% !important;
} */

body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
}

/* --------------------------------- NAVBAR STYLING --------------------------------- */
.navbar {
  position: fixed;
  width: 100vw;
  opacity: 90%;
}

.navbar-item {
  font-family: "Oswald", sans-serif;
  font-size: medium;
  color: black;
}

#nav-title {
  font-size: large;
}

.navbar-end {
  margin-right: 1vw;
}

#navLogo {
  /* width: 5%; */
  max-height: 60px;
}

.button {
  border: none;
}

/* --------------------------------- PAGE 1 STYLING --------------------------------- */
.hero-body {
  background-image: linear-gradient(rgba(134, 133, 133, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.pexels.com/photos/7937292/pexels-photo-7937292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 0%;
  height: 100vh;
}

.text-block {
  position: absolute;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 50vw;
}

.action {
  font-family: "Quattrocento", serif;
  font-size: xx-large;
  text-align: center;
  padding-top: 25%;
}

#mainTitle {
  text-align: center;
  color: white;
  font-size: 4vw;
  font-family: "Oswald", sans-serif;
  text-shadow: 5px 5px 10px black;
}

#mainLogo {
  width: 25%;
  height: auto;
  position: absolute;
}

/* --------------------------------- PAGE 2 STYLING --------------------------------- */
#aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 20vh;
  position: relative;
  overflow: auto !important;
  /* background-size: cover; */
  /* width: 70vw; */
}

#aboutTitle {
  padding-top: 5vh;
}

.aboutText {
  font-family: "Quattrocento", serif;
  font-size: x-large;
  text-align: center;
  width: fit-content;
}

.custom-shape-divider-top-1621993808 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1621993808 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 180px;
}

.custom-shape-divider-top-1621993808 .shape-fill {
  fill: #191817;
}

/* --------------------------------- PAGE 3 STYLING --------------------------------- */
#page3 {
  background-color: rgb(136, 135, 131);
}

#divider1 {
  padding: 4%;
}

#services {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.services {
  text-align: center;
}

/* --------------------------------- PAGE 4 STYLING --------------------------------- */
#testimonialsTitle {
  font-family: "Quattrocento", serif;
  font-size: 5vh;
}

#page4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://images.unsplash.com/photo-1508280783688-f4c819e564a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
